{% extends 'header.htm' %}

{% block title %}
404 | PORTFOLIO
{% endblock title %}

{% block content %}

{% include 'procNavbar.htm' %}

<h1 class="display-1 text-center shadoww " style="color: rgb(222,0,0) !important; margin-top: 200px;">404 NOT FOUND</h1>
<div class="container">
    <div class="row justify-content-center">
        <a href="/" class="btn w-25 gg" style="color: white !important;background-color: rgb(222,0,0) !important;">REDIRECT TO HOME</a>
    </div>
</div>

{% endblock %}