
<nav class="navbar navbar-expand-lg bg-body-tertiary background " >
    <div class="container-fluid">
      <a class="navbar-brand main" ><i class="fa fa-heart" aria-hidden="true"></i>
         PORTFOLIO</a>
      <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" style="color: white !important;"></span>
      </button>
      <div class="collapse navbar-collapse  justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav nav " >
            <li class="nav-item">
              <a class="nav-link"  href="#home"><i class="fa fa-home"></i> HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about"><i class="fa fa-user" ></i> ABOUT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  href="#skills"><i class="fa fa-file " aria-hidden="true"></i>
                 SKILLS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#services"><i class="fa fa-briefcase" aria-hidden="true"></i>
                 SERVICES</a>
            </li>

              <a class="nav-link"  href="/projects"><i class="fa fa-cubes" aria-hidden="true"></i>
                 PROJECTS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact"><i class="fa fa-envelope" aria-hidden="true"></i>
                 CONTACT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/akshaypiranav" target="_blank"><i class="fa fa-rocket" aria-hidden="true"></i> FOLLOW</a>
            </li>


          </ul>
        
      </div>
    </div>
  </nav>